.team-wrapper {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../svg/services-bg.svg");
}

.team-item {
  border: 1px solid #fff;
  transition: border-color 0.3s, border-width 0.3s, box-shadow 0.3s;
}

.team-item:hover {
  border-color: var(--gold);
  box-shadow: 0px 6.65px 5.786px 0px rgba(0, 0, 0, 0.03),
    0px 22.336px 19.433px 0px rgba(0, 0, 0, 0.04),
    0px 100px 87px 0px rgba(0, 0, 0, 0.07);
}

.team-wrapper .text {
  text-align: start;
}

.team-wrapper {
  padding-top: 100px;
  padding-bottom: 0;
}

.team-heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.team-heading .text {
  max-width: 690px;
}

@media (max-width: 1024px) {
  .team-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .team-item {
    grid-column: unset !important;
  }

  .team-wrapper {
    background-size: 565px 465px;
  }
}

@media (max-width: 768px) {
  .team-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-heading {
    gap: 15px;
  }

  .team-item-subtitle {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .team-item .title {
    padding-left: 8px;
    padding-right: 8px;
  }

  .team-item {
    gap: 12px;
  }

  .team-services-bg {
    background-size: 550px;
    background-position: left center;
  }
}
